//Natural Color
$natural-900: #0f172a;
$natural-800: #1e293b;
$natural-700: #334155;
$natural-600-main: #475569;
$natural-500: #64748b;
$natural-400: #94a3b8;
$natural-300: #cbd5e1;
$natural-200: #e2e8f0;
$natural-100: #f1f5f9;
$natural-50: #f8fafc;

//Basic Colors

$basic-black: #000000;
$basic-white: #ffffff;

//Brand Color 

$brand-900: #001529;
$brand-800: #062137;
$brand-700: #0b2d47;
$brand-600-main: #113955;
$brand-500: #236595;
$brand-50: #e2eff6;
$brand-400: #4492c5;
$brand-300: #64a4ce;
$brand-100: #b7d7ea;
$brand-200: #8dbedc;

//Status Colrs

$status-danger-400: #e57373;
$status-danger-50: #ffebee;
$status--danger-600: #d32f2f;
$status-warn-600: #d97706;
$status-warn-400: #f59e0b;
$status-warn-100: #fef3c7;
$status-success-600: #229954;
$status-success-400: #52be80;
$status-success-50: #d4efdf;