.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding-bottom: 12px;

    &__cardHolder {
        overflow: scroll;
        scrollbar-width: none;
        flex: 1;
        /* Firefox */
    }

    &__cardHolder::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}