@import '../../scss/styles/index.scss';


.container {
    display: flex;
    height: 90vh;
    padding: 24px 24px 12px 24px;

    &__small {
        flex: 3;
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        height: 100%;
        overflow: scroll;
        scrollbar-width: none;
        /* Firefox */
    }

    &__small::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    &__large {
        flex: 5;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    h2 {
        @include mobile-headline-xl;
        color: $natural-900 ;
    }
}