@import "../../scss/styles/index.scss";

.container {
  padding: 16px;

  h2 {
    @include desktop-headline-2xl;
    color: $natural-700;
  }
  &__attendanceCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
  }

  &__body {
    display: flex;
    margin-top: 12px;

    &__applyForLeave {
      flex: 3;

      h3 {
        @include body-text-lg-font-normal;
      }
      div {
        @include border-primary;
        height: max-content;
        background-color: #fff;
      }
    }

    &__details {
      flex: 2;
      @include border-primary;
      background-color: #fff;
      margin-left: 12px;
      &__head {
        display: flex;

        align-items: center;
        padding-right: 6px;
        div {
          flex: 1;
          display: flex;
          justify-content: space-between;
          padding: 6px;
        }
      }
      &__card {
        display: flex;
        justify-content: space-between;
        padding: 6px 12px;
        border-top: 1px solid $natural-300;

        div {
          display: flex;
        }
      }
    }
  }
}

.success {
  color: $status-success-600;
}

.danger {
  color: $status-danger-600;
}
