@import '../../scss/styles/index.scss';

.container {
    display: flex;
    height: 10vh;
    background-color: #fff;
    @include shadow-sm
}


.center {
    flex: 6;
    display: flex;
    align-items: center;
    padding-left: 36px;

    &__inputContainer {
        background-color: #F1F5F9;
        border-radius: 4px;
        height: 36px;
        width: 60%;
        padding: 6px;
        display: flex;
        justify-content: center;

    }

    input {
        background-color: transparent;
        height: 100%;
        width: 100%;
        margin-left: 12px;
    }
}

.right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        @include body-text-lg-font-semibold;
    }

    img {
        height: 56px;
        border-radius: 100%;
    }

}